*{
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 1000vh;
}

#preloader,:lang(ch){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-image: radial-gradient(white,rgb(255, 97, 97));
    animation: loading ease-in-out 1s;
    font-size: 2.5em;
    font-family: kaiti;
    font-weight: bold;
    animation: loading 3s ease-in both;
 }

 @keyframes loading {
    0%{
        opacity: 100%;
    }

    90%{
        opacity:100%;
    }

    100%{
        opacity: 0;
        z-index: -1;
    }
 }
 
 #preloader-img{
     max-height: 100%;
     max-width: 100%;
 }

main{
    height: inherit;
    max-width: 100%;
    position: absolute;
    top: 100px;
    left:15%;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-color: #000;
}

header{
    position: fixed;
    width: 100%;
    border-bottom: #ff6d6d solid 2px;
    z-index: 9;
}

#scrolled{
    height: 100px;
    background-image: linear-gradient(to top,#ff77ad,rgb(255, 133, 176),#ff7878);
}

#logo{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 20%;
    transition: 0.3s;
    padding: 5px;
}

#logo img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20%;
}

#logo:hover{
    border: #000 1px solid;
    margin: 2px;
    padding: 1px;
}

#HomeNav ul{
    display: flex;
    float: right;
    height: 100px;
}

#HomeNav ul li{
    display: flex;
    list-style: none;
    padding: 20px;
    align-items: center;
}

#HomeNav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#HomeNav ul li a:hover{
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}

#HomeNav2{
    height: 100%;
    width: 15%;
    text-align: center;
    position: fixed;
    top: 100px;
    float: left;
    background-image:linear-gradient(to left,#ff86b6,#f677ff);
    border-right: solid 2px #ff4949;
}

#HomeNav2 ul{
    padding: 0;
}

#HomeNav2 ul li{
    list-style: none;
    padding: 10px 20px;
    border-bottom: #ff4949 solid 3px;
    background-image: radial-gradient(rgb(255, 247, 0),rgb(255, 179, 0))
}

#HomeNav2 ul li a,:lang(ch){
    text-decoration: none;
    font-family: kaiti;
    font-size: 2em;
    color: #4d00b3;
    
}

#HomeNav2 ul li a:hover{
    font-weight: 600;
    font-size: 2.1em;
    transition: 0.1s;
    color: #400093;
    background-color: rgb(255, 114, 255);
    padding: 5px;
    border-radius: 10%;
}

#fix_box{
    display: flex;
    position: fixed;
    bottom: 50px;
    left: 5px;
    z-index: 1;
    overflow: hidden;
}

#pageStyle{
    display: flex;
    overflow-x: auto;
    max-width: 100%;
}

#pageStyle img{
    max-width:200px;
    height:150px;
    margin-right: 1px;
    filter: brightness(70%);
}

#pageStyle a{
    transition: all 0.3s;
}

#hutao:hover, #qiqi:hover, #yaeMiko:hover, #ganYu:hover{
    max-width:220px;
    height:150px;
    margin-right: 1px;
    filter: brightness(140%);
}

#pageStyle_button{
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 10;
    padding: 5px;
    padding-right: 30px;
    border: #000 solid 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 36px;
    animation: shinning 1s none;
    animation-iteration-count: infinite;
}

@keyframes shinning{
    0%{
        
    }

    40%{
        font-size: 42px;
    }

    100%{
        font-size: 36px;
    }
}

.slideToRight{
    animation: slideToRight 1s ease-in-out both;
}

@keyframes slideToRight {
    0%{
        transform: translateX(-700px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.slideToLeft{
    animation: slideToLeft 1s ease-in-out both;
}

@keyframes slideToLeft {
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(-900px);
        opacity: 0;
    }
}

.active{
    border-bottom: 3px solid red;
    border-left: 1px solid red;
}

#AritificialRating,#TeamMaker,#TeyvatUni,#DamangeCalculator,:lang(ch){
    letter-spacing: 0.5em;
    font-size: 3em;
    font-family:kaiti;
    padding-top: 100px;
    padding-bottom: 900px;
    transition: 1s;
    color: #fff;
}

.content{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    float: left;
    -webkit-text-stroke: 1px #ff4949;
}

#char{
    border-left: solid 3px #ff77ad;
    width: 20%;
    height: 100%;
    text-align: center;
    position: fixed;
    right: 0;
    background-color: rgb(255, 154, 154);
}

#charName ,:lang(ch){
    line-height: 2em;
    font-size: 1.6em;
    font-family: SimSun;
    font-weight: bold;
    background-color: rgb(255, 154, 190);
}

.EngChar{
    font-size: 1.05em;
}

#char video{
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
}


